---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import LogLineEntry from '../../components/LogLineEntry.astro';

const publishedLogs = await getCollection('logs', ({ data }) => {
	return data.draft !== true;
});

publishedLogs.sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const tags = [...new Set(publishedLogs.map((log) => log.data.tags).flat())];

const pageTitle = 'Logs';
---

<BaseLayout pageTitle={pageTitle}>
	<div id='tag-section'>
		<ul id='log-tag-list'>
			<h2>
				<a href={`/tremendous-telescope/logs/tags/`}>Log Tags</a>:
			</h2>
			{
				tags.map((tag) => (
					<li class='tag'>
						<a href={`/tremendous-telescope/logs/tags/${tag}`}>
							{tag}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div id='column-wrapper'>
		<div class='column'>
			<h2>Logs</h2>
			<ul>
				{
					publishedLogs.map((log) => (
						<li>
							<LogLineEntry
								url={`/logs/${log.id}/`}
								title={log.data.title}
								date={log.data.pubDate}
							/>
						</li>
					))
				}
			</ul>
		</div>
		<div class='column'>
			<h2>Logs 2</h2>
			<details>
				<summary>A category</summary>
				<ul>
					{
						publishedLogs.map((log) => (
							<li>
								<LogLineEntry
									url={`/logs/${log.id}/`}
									title={log.data.title}
									date={log.data.pubDate}
								/>
							</li>
						))
					}
				</ul>
			</details>
			<details>
				<summary>Another category</summary>
				<ul>
					{
						publishedLogs.map((log) => (
							<li>
								<LogLineEntry
									url={`/logs/${log.id}/`}
									title={log.data.title}
									date={log.data.pubDate}
								/>
							</li>
						))
					}
				</ul>
			</details>
		</div>
	</div>
</BaseLayout>
<style>
	h2 {
		margin: 0;
	}
	#log-tag-list {
		align-items: center;
		display: flex;
		list-style-type: none;
		gap: 1rem;
		margin: 0;
		padding: 0;
	}
	#column-wrapper {
		display: flex;
		margin: 0.5rem 0.5rem;
	}
	.column {
		flex-basis: 50%;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1.75;
	}
</style>
